@media only screen and (max-width:768px) {

    .card {
        width: 98%;
    }
}

@media only screen and (max-width:550px) {


    .card {
        width: 98%;
    }

    .main {
        height: 180px;
        flex-direction: row;
        justify-content: flex-start;
    }

    .img {
        width: 180px;
    }

    .heading {
        font-size: 18px;
    }

    .t1 {
        width: calc(100% - 180px) !important;
    }

    .time,
    .src {
        font-size: 10px;
    }
}